celery==5.4.0
celery-progress==0.4
certifi==2024.7.4
Django==5.0.7
django-celery-results==2.5.1
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-ninja==1.3.0
django-redis==5.4.0
pillow==11.0.0
python-redis-lock==4.0.0
redis==5.2.1
redis-cache==0.1.5
redis-structures==0.1.7
requests==2.32.3
sqlparse==0.5.1
