{% extends 'base.html' %}
{% load static %}


{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    
    {% for friend_request in users %}
        <p>{{ friend_request.username }}</p>
            <form action="{% url 'friends' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="friend_request_id" value="{{ friend_request.id }}">
                <input type="submit" name="accept_friend" value="Approve">
                <input type="submit" name="decline_friend" value="Decline">
            </form>
        <hr>
    {% endfor %}
    
{#    {% for friend in  friends_list %}#}
{#        {{ friend. }}#}
{#        <hr>#}
{#    {% endfor %}#}

{% endblock %}